flask = "^2.0.0"
asyncpg = "^0.22.0"
git+https://github.com/Gorialis/jishaku.git
githttps://github.com/iDevision/enhanced-discord.py@2.0
better-profanity = "^0.7.0"
cool-utils = "^1.1.9"
python-dotenv